<section class="d-flex align-items-center py-4" style="margin-top: 100px">
    <main class="form-signin w-100 m-auto">
        <form class="text-center">
            <img class="mb-4" src="../static/images/logo.png" alt="logo" width="171">
            <h1 class="mb-3">Регистрация</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="fio" placeholder="ФИО">
                <label for="fio">ФИО</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="Электронная почта">
                <label for="email">Электронная почта</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Пароль">
                <label for="password">Пароль</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="passwordTwo" placeholder="Подтверждение пароля">
                <label for="passwordTwo">Подтверждение пароля</label>
            </div>

            <button id="process" class="btn btn-primary w-100 py-2" type="button" disabled>Регистрация</button>

            <div class="link text-start mt-2">
                Уже есть аккаунт? <div id="link-button" class="ms-2">Войдите в систему</div>
            </div>
        </form>
    </main>
</section>
