.sidebar {
    border-right: 1px solid #D9D9D9;
}

.nav li, .nav-item a {
    color: #052C65;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.nav-item path {
    fill: #052C65;
}

.nav-item a {
    padding: 12px 16px;
    cursor: pointer;
}

#dashboard-collapse a {
    text-decoration: none;
    padding: 0;
}

#dashboard-collapse li {
    padding: 12px 16px;
}

.main-content {
    padding: 100px 60px;
}

.sort li {
    color: #6C757D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.457px;
    border: 1px solid #6C757D;
    padding: 9px 12px;
    width: 100px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: white;
}

.sort li:hover {
    cursor: pointer;
}
.sort li:hover:not(.active) {
    background-color: rgba(108, 117, 125, 0.1);
}

li.active {
    background-color: #6C757D;
    color: white;
}

.interval input {
    border: none;
    border-bottom: 1px solid #6C757D;
    width: 39px;
    outline: none;
}

.nav-link.active-item {
    border-radius: 5px;
    background: #0D6EFD;
    transition: .5s;
}

.nav-link:not(.active-item) {
    background-color: white;
}

.nav-link:not(.active-item) {
    color: #052C65;
}

.nav-link.active-item > a {
    color: white;
}

.nav-link.active-item path {
    fill: white;
}

#dashboard-collapse a {
    padding: 12px 16px;
}
